<article class="project">
    <h2>
        <%= name %>
    </h2>
    <div>
        <%= description %>
    </div>
    <% if (links.website) { %>
        <a href="<%= links.website %>" target="_blank">Website</h2>
    <% } %>
    <% if (links.github) { %>
        <a href="<%= links.github %>" target="_blank">GitHub</h2>
    <% } %>
    <% if (links.codepen) { %>
        <a href="<%= links.codepen %>" target="_blank">Codepen</h2>
    <% } %>
</article>